@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div style="font-family:Algerian">

    <h2>ANY QUERIES? FEEL FREE TO SHARE YOUR THOUGHTS AND VIEWS!</h2>

</div>

<address>
    Tranquil Garden<br />
    Remond, City ABC<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@abcd.com">Support@abcd.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@abcd.com">Marketing@abcd.com</a>
</address>