@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div style="font-family:Castellar">
        <h1><b>Tranquil Garden</b></h1>
        <p class="lead"> <b>&nbsp;Beauty lies within.. </b></p>
    </div>
    <div style="font-family:'Times New Roman'">
        <p class="lead"> <b>&nbsp;You don't see it? Well, step in to our Tranquil Garden once, and we will show you.. </b></p>
    </div>
</div>

